.overlapImage {
  background-image: url(../../assets//images/Background-drop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
}

@media (max-width: 740px) {
  .overlapImage {
    display: none;
  }
}
